src/main/resources/CargoCuentaTelematica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by  () -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ea.carm.es/schemas/funcionales/pagoBanco/CargoCuentaTelematica.xsd" targetNamespace="http://ea.carm.es/schemas/funcionales/pagoBanco/CargoCuentaTelematica.xsd" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="Tipos/Tipos.xsd"/>
	<xs:complexType name="CABECERA_MENSAJE_TYPE">
		<xs:sequence>
			<xs:element name="ID_COMUNICACION" type="ID_COMUNICACIONType">
				<xs:annotation>
					<xs:documentation>Identificador de la comunicacion, el mismo en la REPLY y en la REQUEST</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="APLICACION" type="APLICACIONType">
				<xs:annotation>
					<xs:documentation>Aplicación implicada en el tratamiento del mensaje</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FECHA" type="FECHAType">
				<xs:annotation>
					<xs:documentation> Fecha de generacion del mensaje AAAAMMDD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HORA" type="HORAType">
				<xs:annotation>
					<xs:documentation> Hora de generacion del mensaje HH:MM:SS</xs:documentation>
				
                </xs:annotation>
			</xs:element>
			<xs:element name="EMISOR" type="EMISORType">
				<xs:annotation>
					<xs:documentation>Servidor emisor del mensaje. 
</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RECEPTOR" type="RECEPTORType">
				<xs:annotation>
					<xs:documentation>Servidor receptor del mensaje. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LIQUIDACION_AUTOLIQUIDACION">
		<xs:annotation>
			<xs:documentation>Esquema para pago por lotes</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:choice>
				<xs:element name="REQUEST">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CABECERA" type="CABECERA_MENSAJE_TYPE"/>
							<xs:element name="URL_COMUNICACION">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="URL_VUELTA" type="xs:string">
											<xs:annotation>
												<xs:documentation>URL de vuelta al portal tributario desde el servicio de Cajamurcia</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="URL_NOTIFICACION" type="xs:string">
											<xs:annotation>
												<xs:documentation>URL de servicio del portal tributario que escucha las respuestas del servidor de Cajamurcia</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="LOTE">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID_LOTE" type="xs:string">
											<xs:annotation>
												<xs:documentation>Identificador de Lote</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="IMP_TOTAL_LOTE" type="IMPORTEType">
											<xs:annotation>
												<xs:documentation>Importe Total de Lote en centimos de euro sin comas ni puntos. Ejemplo: 1,50 --> 150; 1 euro --> 100; 1,8 --> 180</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NUM_DETALLE" type="DETALLEType">
											<xs:annotation>
												<xs:documentation>Número de líneas de detalle (cargos) del lote</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="TIPO_SERVICIO" type="TIPO_SERVICIOType">
											<xs:annotation>
												<xs:documentation>Tipo de Servicio, Valor 02 para Servicio de Caja", Valor 03 para Servicio de Entidad Colaboradora</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CARGO">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TITULAR_CUENTA" type="NIF_CIFType">
														<xs:annotation>
															<xs:documentation>NIF/CIF del titular de la cuenta de cargo.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="CUENTA_CARGO">
														<xs:annotation>
															<xs:documentation>Datos de la cuenta a realizar el cargo</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ENTIDAD" type="ENTIDADType" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Código de la entidad</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="SUCURSAL" type="SUCURSALType" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Código de la sucursal</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="D_C" type="DCType" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Dígitos de Control</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="CUENTA" type="NUM_CUENTAType" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Número de Cuenta</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="DETALLE_INGRESO" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="ID_UNICO" type="N28Type">
														<xs:annotation>
															<xs:documentation>N28: Identificador único de ingreso de la CARM</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="IMPORTE_INGRESO" type="IMPORTEType">
														<xs:annotation>
															<xs:documentation>Expresado en centimos de Euro (con dos decimales sin coma)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="SUJETO_PASIVO" type="INTERVINIENTE">
														<xs:annotation>
															<xs:documentation>Persona que aparece como sujeto pasivo en la carta de pago</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="OLDH" type="OLDHType">
														<xs:annotation>
															<xs:documentation>Servicio de Oficina Liquidadora</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="HECHO_IMP">
														<xs:annotation>
															<xs:documentation>Hecho Imponible</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="HECHO_IMPONIBLEType"/>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MACODE">
														<xs:annotation>
															<xs:documentation>Código de 16 caracteres resultado del algoritmo DES, utilizando una clave privada y como mensaje de  entrada  los valores de los elementos: TITULAR_CUENTA, IDE_UNICO, IMPORTE_INGRESO,SUJETO PASIVO, OLDH y HECHO_IMP.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="MACODEType">
																<xs:maxLength value="16"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="REPLY">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CABECERA" type="CABECERA_MENSAJE_TYPE"/>
							<xs:element name="RESPUESTA_LOTE">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ID_LOTE" type="xs:string">
											<xs:annotation>
												<xs:documentation>Identificador del lote del cual se da respuesta</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NUM_DETALLE" type="xs:nonNegativeInteger">
											<xs:annotation>
												<xs:documentation>Número total de líneas de detalle. Coincidente con el campo del mismo nombre de la REQUEST</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NUM_CARGOS" type="xs:nonNegativeInteger">
											<xs:annotation>
												<xs:documentation>Número total de cargos realizados</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="DETALLE_CARGO" maxOccurs="unbounded">
											<xs:annotation>
												<xs:documentation>Deberán existir una línea de este tipo por cada línea de detalle de ingreso enviado en la REQUEST</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="RESULTADO" type="xs:string">
														<xs:annotation>
															<xs:documentation>Código de Error/OK asociado  del resultado: '00' correcto, '01' saldo insuficiente, '02' N28 no valido, '03' N28 duplicado.</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ID_UNICO" type="N28Type">
														<xs:annotation>
															<xs:documentation>N28 que identifica la respuesta de la operación de cargo</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ENTIDAD_ING" type="ENTIDADType"/>
													<xs:element name="FECHA_ING" type="FECHAType">
														<xs:annotation>
															<xs:documentation> Fecha del ingreso AAAAMMDD</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="IMPORTE_ING" type="IMPORTEType">
														<xs:annotation>
															<xs:documentation>Importe Total de Lote en centimos de euro sin comas ni puntos. Ejemplo: 1,50 --> 150; 1 euro --> 100; 1,8 --> 180</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="MAC_CCT">
														<xs:annotation>
															<xs:documentation>16 caracteres correspondientes al MACODE generado utilizando la clave privada sobre el resto de campos del Detalle de Cargo (exceptuando 'RESULTADO').</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="MACODEType">
																<xs:maxLength value="16"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="VALIDACION_CCT" type="xs:string" minOccurs="0">
														<xs:annotation>
															<xs:documentation>E00 si el CCT es correcto, E01 si el CCT no es correcto</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="VALIDACION" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CODIGO_ERROR" type="xs:string">
								<xs:annotation>
									<xs:documentation>E00: Ok, E01: No se ha podido validar el XML contra el esquema.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TEXTO_ERROR" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>
